#paragraphs{
    align-content: center;
    background-color: black;
    color: beige;
    width: 100pt;
    
}
#signIn{
    
    font-family:'Times New Roman', Times, serif;
    font-size: 8mm;
}
body{
    background-color: rgb(218, 225, 231);
}
#signIn:hover{
    color: rgb(48, 134, 87);
    
}
html{
    width:700px;
}